body {
    margin-top: 100px;
    width: 100%;
    margin: 0;
}


/*
.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;   
}

.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
}

.slide-wrapper{
    width: 100%;
}

.fill{
    width: 100%;
}
*/

body,
html {
    height: 100%;
}

nav {
    font-family: 'Bowlby One SC', cursive;
}

html {
    scroll-behavior: smooth;
}

.card {
    margin: 30px;
}

.seccion-home {
    background-image: url("fotos/fondos secciones/fondohomefotosimple.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    font-family: 'Bowlby One SC', cursive;
}


/* home alternativo */

.containerhome {
    display: flex;
    width: 100%;
    padding: 4% 2%;
    box-sizing: border-box;
    height: 100vh;
}

.boxhome {
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0, 0, 0, .1);
    line-height: 0;
}

.boxhome>img {
    width: 200%;
    height: calc(100% - .5vh);
    object-fit: cover;
    transition: .5s;
}

.boxhome>span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.boxhome:hover {
    flex: 1 1 50%;
}

.boxhome:hover>img {
    width: 100%;
    height: 100%;
}

.parafondo {
    background-color: beige;
}


/* fin home alternativo */

.seccion-shows {
    background-image: url("fotos/fondos secciones/fondo 1.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Bowlby One SC', cursive;
}

.fecha {
    height: 100px;
}

.seccion-discografia {
    background-image: url("fotos/fondos secciones/fondo 4.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Bowlby One SC', cursive;
}

.seccion-media {
    background-image: url("fotos/fondos secciones/fondo 5.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.seccion-noticias {
    background-image: url("fotos/fondos secciones/fondo 6.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-family: 'Montserrat', sans-serif;
}

.titulo {
    font-family: 'Bowlby One SC', cursive;
}

.seccion-contacto {
    font-family: 'Montserrat', sans-serif;
}

.fade:not(.show) {
    opacity: .6;
}

.fade:hover {
    opacity: 1;
}

#videoDiv {
    width: 100%;
    height: 360px;
    position: relative;
}

#videoBlock {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#videoMessage {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#videoMessage * {
    padding: 0.4em;
    margin: 0
}

#videoMessage {
    text-shadow: 2px 2px 2px #000000;
    color: white;
    z-index: 99
}

#videoMessage h1 {
    font-size: 2em;
    color: #ffffff;
    text-align: left;
}

#videoMessage h2 {
    font-size: 1.5em;
    color: #ffffff;
    text-align: left;
}

#videoMessage h3 {
    font-size: 1.2em;
    color: #ffffff;
    text-align: left;
}

.videoClick {
    text-align: left
}

.videoClick a {
    color: white;
    background-color: rgba(241, 241, 241, 0.25);
    font-size: 1.7em;
    cursor: pointer;
    cursor: hand
}


/* Default hide the video on all devices */

#video {
    display: none
}


/* Default display the image to replace the video on all devices */

#videosubstitute {
    display: block;
    width: 100%;
    height: auto
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
    #video {
        display: block;
    }
    #videosubstitute {
        display: none
    }
    ;
}

.grid {
    position: relative;
    margin: 0 auto;
    padding: 1em 0 4em;
    max-width: 1000px;
    list-style: none;
    text-align: center;
}


/* Common style */

.grid figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    min-width: 320px;
    max-width: 480px;
    max-height: 360px;
    width: 48%;
    background: #3085a3;
    text-align: center;
    cursor: pointer;
}

.grid figure img {
    position: relative;
    display: block;
    min-height: 100%;
    max-width: 100%;
    opacity: 0.8;
}

.grid figure figcaption {
    padding: 2em;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.25em;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
    pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Anchor will cover the whole item by default */


/* For some effects it will show as a button */

.grid figure figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 0;
    opacity: 0;
}

.grid figure h2 {
    word-spacing: -0.15em;
    font-weight: 300;
}

.grid figure h2 span {
    font-weight: 800;
}

.grid figure h2,
.grid figure p {
    margin: 0;
}

.grid figure p {
    letter-spacing: 1px;
    font-size: 68.5%;
}

.single-upcoming-shows {
    padding-top: 0;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid black;
    padding: 30px 0;
}

.shows-date {
    -webkit-box-flex: 0;
    flex: 0 0 10%;
    max-width: 10%;
    width: 10%;
}


/* discografia */

.box16 {
    text-align: center;
    color: #fff;
    position: relative
}

.box16 .box-content,
.box16:after {
    width: 100%;
    position: absolute;
    left: 0
}

.box16:after {
    content: "";
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, .08) 69%, rgba(0, 0, 0, .76) 100%);
    top: 0;
    transition: all .5s ease 0s
}

.box16 .post,
.box16 .title {
    transform: translateY(145px);
    transition: all .4s cubic-bezier(.13, .62, .81, .91) 0s
}

.box16:hover:after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, .01) 0, rgba(0, 0, 0, .09) 11%, rgba(0, 0, 0, .12) 13%, rgba(0, 0, 0, .19) 20%, rgba(0, 0, 0, .29) 28%, rgba(0, 0, 0, .29) 29%, rgba(0, 0, 0, .42) 38%, rgba(0, 0, 0, .46) 43%, rgba(0, 0, 0, .53) 47%, rgba(0, 0, 0, .75) 69%, rgba(0, 0, 0, .87) 84%, rgba(0, 0, 0, .98) 99%, rgba(0, 0, 0, .94) 100%)
}

.box16 img {
    width: 100%;
    height: auto
}

.box16 .box-content {
    padding: 20px;
    margin-bottom: 20px;
    bottom: 0;
    z-index: 1
}

.box16 .title {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 10px
}

.box16 .post {
    display: block;
    padding: 8px 0;
    font-size: 15px
}

.box16 .social li a,
.box17 .icon li a {
    border-radius: 50%;
    font-size: 20px;
    color: #fff
}

.box16:hover .post,
.box16:hover .title {
    transform: translateY(0)
}

.box16 .social {
    list-style: none;
    padding: 0 0 5px;
    margin: 40px 0 25px;
    opacity: 0;
    position: relative;
    transform: perspective(500px) rotateX(-90deg) rotateY(0) rotateZ(0);
    transition: all .6s cubic-bezier(0, 0, .58, 1) 0s
}

.box16:hover .social {
    opacity: 1;
    transform: perspective(500px) rotateX(0) rotateY(0) rotateZ(0)
}

.box16 .social:before {
    content: "";
    width: 50px;
    height: 2px;
    background: #fff;
    margin: 0 auto;
    position: absolute;
    top: -23px;
    left: 0;
    right: 0
}

.box16 .social li {
    display: inline-block
}

.box16 .social li a {
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #35a72b;
    margin-right: 10px;
    transition: all .3s ease 0s
}

.box17 .icon li,
.box17 .icon li a {
    display: inline-block
}

.box16 .social li a:hover {
    background: #bea041
}

.box16 .social li:last-child a {
    margin-right: 0
}

@media only screen and (max-width:990px) {
    .box16 {
        margin-bottom: 30px
    }
}


/*fin discografia*/